<div class="row">
  <div class="small-2 columns small-centered text-center">
    <%= simple_form_for :ipsum do |f| %>
      <%= f.label :num, 'How many paragraphs? (1-20)' %>
      <%= f.text_field :num %>
      <%= f.button :submit, 'Launch!' %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="small-8 columns small-centered">
    <% if @generated_ipsum %>

      <% @generated_ipsum.each do |para| %>
        <p class="ipsum">
        <% para.each do |sent| %>
          <%= sent.join(' ') %>.
        <% end %>
        </p>
      <% end %>

    <% end %>
  </div>
</div>
